@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #fff;
  font-family: "IBM Plex Sans KR", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  animation: main_bg_animation 10s ease infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hidden {
  display: none;
}

#clock {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 60px;
}

input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 200;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: #fff;
}

#quote {
  position: absolute;
  bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote span {
  margin-top: 10px;
}

#weather {
  position: absolute;
  right: 2vw;
  top: 2vh;
}

#greeting {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 40px;
}

#todo-list {
  font-weight: 200;
  text-align: center;
}

#todo-list button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

@keyframes main_bg_animation {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
